html {
    color-scheme: dark;
}
body {
    font-family: sans-serif;
    text-align: center;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


nav {
    background-color: #252525;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}
li {
    display: inline-block;
}
li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}


#b-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#bot {
    width: 250px;
    height: 300px;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}
.wheel_part {
    width: 50px;
    height: 100px;
    border: 1px solid #FFFFFF;
}
#bot > div {
    margin: 10px;
}
