<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <div id="container">
        <h3>
            <a href="https://gitlab.com/aron0x41/robot">GitLab</a>
        </h3>
    </div>
</body>
</html>
