<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <script src="/static/js/manually.js"></script>
</head>
<body onload="init();">
    {% include 'navbar.html' %}
    <div id="container">
        <h1>
            Manually control the robot
        </h1>
        <div id="b-container">
            <div>
                <div class="wheel_part"></div>
                <div class="wheel_part"></div>
            </div>
            <div id="bot">
                <div>
                    press W, A, S, D
                </div>
                <div>
                Speed:
                <input id="speed" type="range" min="0" max="100" value="100" oninput="update_wheels();">
                </div>
            </div>
            <div>
                <div class="wheel_part"></div>
                <div class="wheel_part"></div>
            </div>
        </div>
    </div>
</body>
</html>
